<?xml version="1.0" encoding="utf-8"?>
<manifest versionCode="1" versionName="1.0">
    <uses-sdk minSdkVersion="1" />
    <iconPath></iconPath>
    <mainPath>Common/view/LoginUC</mainPath>
    <!--<globelAppPath>Common/Globel</globelAppPath>-->
    <appSettings>
        <add key="Name" value="管理员" />
        <add key="desc" value="描述" />
        <add key="loginForm" value="" desc="登陆窗体"/>
        <add key="explorerForm" value="" desc="浏览器窗体" />
        <add key="ico" value="" desc="" />
        <add key="DefaultUri" value="InfoGrid2/login/Index" desc="登陆窗体"/>
        <add key="custom_ui" value="/app_Biz/App_data/JIULONG" desc="登陆窗体"/>
    </appSettings>

    <!--数据库-->
    <dbConfig src="config/HWQ.Entity4.config"></dbConfig>
    
    <!--事务配置-->
    <affairConfig src="config/Affair.Config"></affairConfig>
   
    
    <!--模块配置-->
    <moduleConfigs>
        <add path="modules/Common" />
    </moduleConfigs>

</manifest>