<?xml version="1.0" encoding="utf-8"?>
<moduleConfig code="BizExplorer" text="管理员" RootNamespace="App.BizExplorer">
    <appSettings>
        <add key="ExplorerTitle" value="华讯仓储系统" />
        <add key="desc" value="描述" />
        <add key="IS_USER_GetUserByLoginName" value="false" />
        <add key="WestUri"   value="#" />
		    <add key="WestUri-Visible" value="false" />
		
        <add key="CenterUri" value="/App/InfoGrid2/View/Explorer/Welcome.aspx" />
        <add key="CenterText" value="首 页" />

        <add key="TopView-Visible" value="true" />
        <add key="TopView-Uri" value="/App/InfoGrid2/View/Explorer/Top.aspx" />
        <add key="TopView-Height" value="78" />

        

        <add key="HomePage-Visible" value="false" />
        <add key="HomePage-Uri" value="/cn" />
        <add key="HomePage-Text" value="返回 [网站首页]" />

        <add key="TitleImgUri" value="/res/login/蓝色/文字.png" />
        <add key="LoginPage_BackColor" value="#FFFFFF" />
        <add key="LoginPage_Image" value="/res/login/蓝色/底图.jpg" />
        <add key="CenterBox_Image" value="/res/login/蓝色/小图.png" />
        <add key="MainPage_BackColor" value="#FFFFFF" />

    
        <!--激活帐套-->
        <add key="AC_Enabled" value="false" />

        <!--激活角色-->
        <add key="ROLE_Enabled" value="false" />
        <add key="ROLE_Types" value="CIQ|海关|ARMED_POLICE|武警|EMPLOYEE|码头员工" />

        <!--激活验证码-->
        <add key="CheckCode_Enabled" value="true" />
   
      <!--登录-->
        <add key="BLL:LoginByRole" value="bll://app/InfoGrid2/bll/LoginMgr?action=LoginByRole" />
        <add key="BLL:Login" value="bll://app/InfoGrid2/bll/LoginMgr?action=Login" />
        <add key="BLL:GetUserByLoginName" value="bll://app/InfoGrid2/Bll/LoginMgr?action=GetUserByLoginName" />

        <!--登录成功跳转的地址-->
        <add key="LoginSuccess_Redirect" value="/App/InfoGrid2/view/explorer/main_v2016.aspx" />

      <add key="Logout-url" value="/app/infogrid2/login/index.aspx" />

		  <!--菜单数据地址-->
		  <add key="HomeMenu-Uri" value="/app/InfoGrid2/View/Explorer/Menu_v2015.aspx" />
    </appSettings>

    <!--窗体地址映射-->
    <viewMappedConfig >
        <mapped action="change" path="" to=""  />
        <mapped action="change" path="" to=""  />
    </viewMappedConfig>

    <!--初始化数据-->
    <dbInitData src="外部文件路径">
        <ADMIN NAME="HWQ" TEXT="核武器" />
    </dbInitData>
</moduleConfig>