<?xml version="1.0" encoding="utf-8"?>
<moduleConfig code="SecurityView" text="安全模块" RootNamespace="SystemBoard.Web.SecurityView">
    <appSettings>
        <add key="desc" value="安全模块" />
    </appSettings>

    <!--窗体地址映射-->
    <viewMappedConfig >
        <mapped action="change" path="" to=""  />
        <mapped action="change" path="" to=""  />
    </viewMappedConfig>

    <!--初始化数据-->
    <dbInitData src="外部文件路径">
        <ADMIN NAME="HWQ" TEXT="核武器" />
    </dbInitData>
</moduleConfig>