<?xml version="1.0" encoding="utf-8" ?>
<affair xmlns:mi="http://www.w3.org/2001/XMLSchema" xmlns:biz="http://www.w3.org/2001/XMLSchema">
    <category name="Session_Start">

    </category>
    <category name="Application_Start">
        
    </category>
    <!--<category name="Application_PostRequestHandlerExecute">
        <add uri="bll://app/Tongji/bll/TongjiMgr?action=CreateCode" />
    </category>-->
    <!--
    <category name="Login_Success">
        <add uri="bll://app/GZQG/bll/DeptMgr?action=LoginSuccess" />
    </category>
    -->
</affair>