<?xml version="1.0" encoding="utf-8" ?>
<model4>
  <!--实体自动编号工厂-->
  <identityFactoryConfigs>
    <Factory name="ROSIN" providerName="SqlServer2005"
         connectionString="Data Source=.;Initial Catalog=EC5_ROSIN;Persist Security Info=True;User ID=sa;Password=sa"
                 />
    <Factory name="CommonOLE" providerName="OleDb"
         connectionString="Provider Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Test.mdb"
                 />

    <Factory name="jb" providerName="SqlServer2005"
      connectionString="Data Source=.;Initial Catalog=EC5_JB3;Persist Security Info=True;User ID=sa;Password=sa"
                 />
  </identityFactoryConfigs>

  <!--000-->
  <decipherConfigs defaultDecipher="MALL">
    <add name="ROSIN" providerName="SqlServer2005"
         connectionString="Data Source=120.77.102.51???;Initial Catalog=EC5_ROSIN;Persist Security Info=True;User ID=sa;Password=G#w39T_32*1mpqEa"
         enableModelIdentity="true"
         identityFactoryName="ROSIN"
             />

    <add name="jb" providerName="SqlServer2005"
     connectionString="Data Source=.;Initial Catalog=EC5_JB;Persist Security Info=True;User ID=sa;Password=sa"
     enableModelIdentity="true"
     identityFactoryName=""
             />


    <add name="EC5_MC" providerName="SqlServer2005"
     connectionString="Data Source=.;Initial Catalog=EC5_MC;Persist Security Info=True;User ID=sa;Password=sa"
     enableModelIdentity="true"
     identityFactoryName=""
             />

    <add name="SHOP" providerName="SqlServer2005"
     connectionString="Data Source=.;Initial Catalog=EC5_IG2_Shop;Persist Security Info=True;User ID=sa;Password=sa"
     enableModelIdentity="true"
     identityFactoryName=""
             />
    <!--木材厂数据库-->
    <add name="WF" providerName="SqlServer2005"
    connectionString="Data Source=.;Initial Catalog=EC5_WF;Persist Security Info=True;User ID=sa;Password=sa"
    enableModelIdentity="true"
    identityFactoryName=""
             />


    <!--老张企业代理商后台-->
    <add name="MR" providerName="SqlServer2005"
    connectionString="Data Source=.;Initial Catalog=EC5_MR;Persist Security Info=True;User ID=sa;Password=sa"
    enableModelIdentity="true"
    identityFactoryName=""
             />

    <!--老张企业网站域名数据库-->
    <add name="WS" providerName="SqlServer2005"
    connectionString="Data Source=.;Initial Catalog=EC6_MR_WEBSITE;Persist Security Info=True;User ID=sa;Password=sa"
    enableModelIdentity="true"
    identityFactoryName=""
             />

    <!--青年联合会数据库 就是共青团啦-->
    <add name="GQT" providerName="SqlServer2005"
    connectionString="Data Source=.;Initial Catalog=EC5_GQT;Persist Security Info=True;User ID=sa;Password=sa"
    enableModelIdentity="true"
    identityFactoryName=""
             />

    <!--青年联合会数据库 就是共青团啦-->
    <add name="MALL" providerName="SqlServer2005"
    connectionString="Data Source=47.112.97.148;Initial Catalog=ERP_YD;Persist Security Info=True;User ID=sa;Password=df.654321"
    enableModelIdentity="true"
    identityFactoryName=""
             />
    
    <!--青年联合会数据库 就是共青团啦-->
    <add name="WXHB" providerName="SqlServer2005"
    connectionString="Data Source=.;Initial Catalog=EC5_WXHB;Persist Security Info=True;User ID=sa;Password=sa"
    enableModelIdentity="true"
    identityFactoryName=""
             />

    <!--微信公共平台数据库-->
    <add name="WX_COMM" providerName="SqlServer2005"
    connectionString="Data Source=.;Initial Catalog=WX_COMM_PLAT;Persist Security Info=True;User ID=sa;Password=sa"
    enableModelIdentity="true"
    identityFactoryName=""
             />


    <add name="ReportBuffer" providerName="SqlServer2005"
     connectionString="Data Source=.;Initial Catalog=EC5_REPORT_BUFFER;Persist Security Info=True;User ID=sa;Password=sa"
     enableModelIdentity="true"
     identityFactoryName=""
             />

    





    <add name="CommonOLE" providerName="OleDb"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Test.mdb"
         enableModelIdentity="true"
         identityFactoryName="CommonOLE"
             />
  </decipherConfigs>



  <!-- 数据表自动 ID -->
  <identityConfigs>

  </identityConfigs>
</model4>