<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="_Temporary\\log\\log.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Composite" />
        <datePattern value=".yyyyMMdd" />
        <maxSizeRollBackups value="4" />
        <maximumFileSize value="4MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <header value="[Header]&#xD;&#xA;" />
            <footer value="[Footer]&#xD;&#xA;" />
            <conversionPattern value="%date %-5level %logger -%m%n" />
        </layout>
    </appender>

  <appender name="abc" type="App.InfoGrid2.Bll.DbDecipherAppender">

  </appender>
    <root>
        <level value="ALL" />
        <appender-ref ref="RollingLogFileAppender" />
         <appender-ref ref="abc" />
    </root>
</log4net>