<?xml version="1.0" encoding="utf-8" ?>
<ViewSecuritys>
    <!--角色权限-->
    <RoleSecurity Role="EVERY" DefaultAllowEnabled="false" >
        <clear />
        <add uri="BizExplorer/View/ErrorRedirect" />
        <add uri="BizExplorer/View/Login" />
        <add uri="BizExplorer/View/Logout" />

        <add uri="localhost/Views/*" />
    </RoleSecurity>

    <RoleSecurity Role="EMPLOYEE,ADMIN,BUILDER" DefaultAllowEnabled="true" >
        <add uri="WMS/View/*" />

        <add uri="StatusChanged/View/*" />
        <add uri="BizExplorer/View/*" />
        
        <add uri="InfoGrid2/View/*" />
        <add uri="InfoGrid2/Login/*" />
        <add uri="InfoGrid2/Sec/*" />

      <add uri="InfoGrid2/View/Biz/*" />
      <add uri="InfoGrid2/View/CustomPage/*" />
      <add uri="InfoGrid2/View/DC/*" />
      <add uri="InfoGrid2/View/DisplayRule/*" />
      <add uri="InfoGrid2/View/Explorer/*" />
      <add uri="InfoGrid2/View/InputExcel/*" />
      <add uri="InfoGrid2/View/LogAct/*" />
      <add uri="InfoGrid2/View/Manager/*" />
      <add uri="InfoGrid2/View/MoreView/*" />
      <add uri="InfoGrid2/View/OneAction/*" />
      <add uri="InfoGrid2/View/OneBuilder/*" />
      <add uri="InfoGrid2/View/OneMap/*" />
      <add uri="InfoGrid2/View/OnePage/*" />
      <add uri="InfoGrid2/View/OneSearch/*" />
      <add uri="InfoGrid2/View/OneTable/*" />
      <add uri="InfoGrid2/View/OneToolbar/*" />
      <add uri="InfoGrid2/View/OneValid/*" />
      <add uri="InfoGrid2/View/OneValue/*" />
      <add uri="InfoGrid2/View/OneView/*" />
      <add uri="InfoGrid2/View/PrintManager/*" />
      <add uri="InfoGrid2/View/PrintTemplate/*" />
      <add uri="InfoGrid2/View/ReportBuilder/*" />
      <add uri="InfoGrid2/View/Sample/*" />
      <add uri="InfoGrid2/View/V2/*" />
      <add uri="InfoGrid2/View/V3/*" />



      <add uri="InfoGrid2/Sec/ArrLogin/*" />
      <add uri="InfoGrid2/Sec/ArrRole/*" />
      <add uri="InfoGrid2/Sec/FunDefine/*" />
      <add uri="InfoGrid2/Sec/M2User/*" />
      <add uri="InfoGrid2/Sec/Role/*" />
      <add uri="InfoGrid2/Sec/StructDefine/*" />
      <add uri="InfoGrid2/Sec/UIFilter/*" />
      <add uri="InfoGrid2/Sec/UIFilter2/*" />
      <add uri="InfoGrid2/Sec/UIFilterDesigner/*" />
      <add uri="InfoGrid2/Sec/UIFilterTU/*" />
      <add uri="InfoGrid2/Sec/User/*" />

    </RoleSecurity>

    

</ViewSecuritys>