<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />

    <link href="/Core/Scripts/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Core/Scripts/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet" />


    <link href="css/jquery.dad.css" rel="stylesheet" />




    <style>
        * {
            font-size: 12px;
            font-family: '微软雅黑', '新宋体', Arial, sans-serif
        }

        .panel-heading{
            padding: 4px 10px;
        }

        .list-group-item{
            padding: 4px 10px;
        }

        .form-control{            
            font-size: 12px;
            height: 24px;
            padding: 3px 6px;
        }

        .input-group-addon{
            
            height: 24px;
            padding: 3px 6px;
        }

        .table > tbody > tr > td, 
        .table > tbody > tr > th, 
        .table > tfoot > tr > td, 
        .table > tfoot > tr > th, 
        .table > thead > tr > td, 
        .table > thead > tr > th {
            padding: 4px;
        }
    </style>
</head>
<body>

    <div class="container-fluid">

        <div style="height:20px;"></div>

        <div class=""  >

            <div class="panel panel-default panel-primary">
                <div class="panel-heading">监听组</div>
                <div class="panel-body ddddddd2">


                    <div class="panel panel-default " >
                        <div class="panel-heading">监听 - UT_167 表 - 更新</div>

                        <div class="panel-body" style="display:none;">
                            

                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>字段名</th>
                                    <th>描述</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody class="AAAAAAAA">
                                <tr>
                                    <td>BIZ_SID</td>
                                    <td>业务状态</td>
                                    <td><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                                <tr>
                                    <td>COL_10</td>
                                    <td>主数量</td>
                                    <td><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                                <tr>
                                    <td>COL_11</td>
                                    <td>主金额</td><td><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="AAAAAAAA">
                            <div style="height:20px;">34242342</div>
                            <div style="height:20px;">423423423</div>
                            <div style="height:20px;">432423</div>
                            <div style="height:20px;">fdsfdsfds</div>
                            <div style="height:20px;">vcvxvxcvx</div>
                            <div style="height:20px;">2323</div>
                        </div>

                        <div class="panel-body">
                                                        
                            <ul class="list-group">
                                <li class="list-group-item  list-group-item-info">
                                    <span>
                                        更新表 UT_165  的条件
                                    </span>
                                </li>
                                <li class="list-group-item">ROW_SID >=0 </li>
                                <li class="list-group-item">BIS_SID = 2 </li>
                                <li class="list-group-item">COL_55 = 当前记录.COL_55 </li>
                                <li class="list-group-item">COL_56 = 当前记录.COL_56 </li>
                            </ul>
                        </div>

                    </div>



                    <div class="panel panel-default " >
                        <div class="panel-heading">监听 - UT_167 表 - 更新</div>

                        <div class="panel-body" style="display:none;">


                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>字段名</th>
                                    <th>描述</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BIZ_SID</td>
                                    <td>业务状态</td>
                                    <td><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                                <tr>
                                    <td>COL_10</td>
                                    <td>主数量</td>
                                    <td><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                                <tr>
                                    <td>COL_11</td>
                                    <td>主金额</td>
                                    <td><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="panel-body">




                            <ul class="list-group">
                                <li class="list-group-item  list-group-item-info">
                                    <span>
                                        更新表 UT_165  的条件
                                    </span>
                                </li>
                                <li class="list-group-item">ROW_SID >=0 </li>
                                <li class="list-group-item">BIS_SID = 2 </li>
                                <li class="list-group-item">COL_55 = 当前记录.COL_55 </li>
                                <li class="list-group-item">COL_56 = 当前记录.COL_56 </li>
                            </ul>
                        </div>

                    </div>


                </div>

            </div>

            <div class="panel panel-default panel-primary">
                <div class="panel-heading">操作组</div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">操作表: UT_165 更新字段</div>

                        <ul class="list-group">
                            <li class="list-group-item form-inline">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">COL_56 = </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="表 UT_167.COL_11 的求和" style="width: 200px;">
                                        <div class="input-group-addon">…</div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item form-inline">
                                <div class="form-group " >
                                    <label for="exampleInputEmail1">COL_57 = </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="表 UT_167.COL_10 的求和"  style="width: 200px;">
                                        <div class="input-group-addon">…</div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="panel-body">




                            <ul class="list-group">
                                <li class="list-group-item  list-group-item-info">
                                    <span>
                                        更新表 UT_165  的条件
                                    </span>
                                </li>
                                <li class="list-group-item">ROW_SID >=0 </li>
                                <li class="list-group-item">BIS_SID = 2 </li>
                                <li class="list-group-item">COL_55 = 当前记录.COL_55 </li>
                                <li class="list-group-item">COL_56 = 当前记录.COL_56 </li>
                            </ul>
                        </div>
                            

                    </div>

                </div>
            </div>


        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">

            <div class="panel panel-default panel-primary">
                <div class="panel-heading">求和</div>

                <ul class="list-group">
                    <li class="list-group-item">表：UT_167 </li>
                    <li class="list-group-item">求和字段: COL_11 </li>
                </ul>

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item  list-group-item-info">
                            <span>
                                条件
                            </span>
                        </li>
                        <li class="list-group-item">ROW_SID >=0 </li>
                        <li class="list-group-item">BIZ_SID = 2</li>
                        <li class="list-group-item">COL_55 = 当前记录.COL_11</li>
                        <li class="list-group-item">COL_56 = 当前记录.COL_12</li>
                    </ul>

                </div>



            </div> 


            <div class="panel panel-default panel-primary">
                <div class="panel-heading">求和</div>

                <ul class="list-group">
                    <li class="list-group-item">表：UT_167 </li>
                    <li class="list-group-item">求和字段: COL_10 </li>
                </ul>

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item  list-group-item-info">
                            <span>
                                条件
                            </span>
                        </li>
                        <li class="list-group-item">ROW_SID >=0 </li>
                        <li class="list-group-item">BIZ_SID = 2</li>
                        <li class="list-group-item">COL_55 = 当前记录.COL_11</li>
                        <li class="list-group-item">COL_56 = 当前记录.COL_12</li>
                    </ul>

                </div>



            </div> 

        </div>
    </div>



    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.dad.min.js"></script>

    <script src="/Core/Scripts/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script>
        $(function(){
            $('.ddddddd2').dad({

                draggable: '.panel-heading'

            });

            $('.AAAAAAAA').dad({


            });
        });
    </script>
</body>
</html>
